{% extends "base.html" %} {% block title %}CNI Model - LLM Moral Judgment
Study{% endblock %} {% block header_title %}CNI{% endblock %} {% block content
%}
<section class="page-content">
  <article class="content-block">
    <h2>What are CNI parameters?</h2>
  </article>

  <article class="content-block">
    <h2>CNI Model Parameters</h2>
    <p>
      The CNI model breaks down moral judgments into three distinct parameters
      between O and 1:
    </p>
    <div class="cni-parameters">
      <div class="parameter-box">
        <h3>C - Consequences</h3>
        <p><strong>Utilitarian thinking</strong></p>
        <p>
          Sensitivity to the outcomes and consequences of your actions when you
          deem them for the sake of greater good. The closer the C score is to
          1, the less likely you are to make the choice to sacrifice something,
          even when the benefits of action are greater than the cost.
        </p>
      </div>
      <div class="parameter-box">
        <h3>N - Norms</h3>
        <p><strong>Deontological thinking</strong></p>
        <p>
          Sensitivity to moral norms of not harming and caring for people. The
          closer the N score is to 1, the less likely you are to support an
          action when a norm prohibits it.
        </p>
      </div>

      <div class="parameter-box">
        <h3>I - Inaction</h3>
        <p><strong>Action bias</strong></p>
        <p>
          General bias toward inaction versus action. The closer the I score is
          to 1, the less likely you are to intervene in any situation whether
          there are good or bad consequences, whether the norms presrcibs it or
          no.
        </p>
      </div>
    </div>
  </article>
</section>
{% endblock %}
