{% extends "base.html" %} {% block title %}Home - LLM Moral Judgment Study{%
endblock %} {% block header_title %}Can a Large Language Model steal my
personality and moral values ?{% endblock %} {% block extra_head %}
<script src="https://d3js.org/d3.v7.min.js"></script>
{% endblock %} {% block content %}
<!-- Visualization Section -->
<section class="visualization-section">
  <div id="bubbleChart"></div>
</section>

<section class="main_intro centered">
  <aside>
    <h2>About the Study</h2>
    <p>
      This is a comparative study that aims to explore how LLMs with a simulated
      human personality respond to moral dilemmas.
    </p>
  </aside>
  <article>
    <h2>Research Question</h2>
    <p>
      Can artificial agents, by reproducing human personality traits through the
      Big Five model, implicitly replicate human behavior when facing moral
      dilemmas?
    </p>
  </article>
</section>

<!-- Particles Background -->
<div class="particles" id="particles"></div>
{% endblock %}
